<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>SpringMVC</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- DB붙은 애들은 먼저 올려야하니까 listener로 먼저 선언해준다. (리스너가 1번) -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>


	<servlet>
		<servlet-name>mymvc</servlet-name>
		<!-- 1. 서블릿 클래스 선언 -->
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 2. 서블리 초기 파라미터를 이용해서 제일 처음 읽을 수 있도록 <beans/> 설정 -->

		<!-- init-param코드 1.1.1에서 가져옴 -->
		<!-- <init-param>
			<param-name>contextConfigLocation</param-name>  스프링에서 지정한 이름으로 바꿀 수 없다.
			<param-value>/WEB-INF/applicationContext.xml</param-value>
		</init-param> -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mymvc</servlet-name>
		<url-pattern>*.sp</url-pattern>
	</servlet-mapping>

</web-app>