<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.w3.org/2001/XMLSchema-aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

	<bean id="g7" class="com.test02.G7_Class" />
	<bean id="student" class="com.test02.Student" />
	<!-- 공통사항 -->
	<bean id="myAdvice" class="com.test02.MyAspect" />
	<!-- 핵심관심사항 -->
	<bean id="myAdivisor"
		class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
		<!-- 공통 사항 메소드를 가로채기 한 다음 전체 실행중에 proceed() 를 호출. -->
		<property name="advice" ref="myAdvice"></property>
		<property name="expression" value="execution(public * *(..))"></property>
	</bean>
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

</beans>